img{
width: 220px;
height: 120px;
}
header{
    display: flex;
  justify-content: space-around;
}
ul{
    display: flex;
    gap: 50px;
}
li{
    list-style: none;
    color: wheat;
}
body{
    background-color: #12372A;

}